{% extends "layout/base.html" %}
{% block content %}
  <h3>
    {{ shelf.name }}
  </h3>

  <form method="POST"
        action="{{ url_for('add_book_to_shelf', shelf_id=shelf.id) }}">
    {{ book_form.hidden_tag() }}

    {{ book_form.title.label }}
    {{ book_form.title() }}

    {{ book_form.author.label }}
    {{ book_form.author() }}

    {{ book_form.description.label }}
    {{ book_form.description() }}

    {{ book_form.cover_url.label }}
    {{ book_form.cover_url() }}

    {{ book_form.google_books_id.label }}
    {{ book_form.google_books_id() }}

    <button type="submit">
      Add Book to Shelf
    </button>
  </form>


  {% for book in books %}
    <p>
      {{ book.title }} {{ book.authors }}
    </p>
  {% endfor %}

{% endblock content %}
