{% extends 'layout/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>
          {{ message }}
        </p>
      {% endfor %}
    {% endif %}
  {% endwith %}


  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.confirm.label(class="form-label") }}
      {{ form.confirm(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>

{% endblock %}
